*.sw[op]
vivado.log
vivado.jou
*~
*#
**/.Xil
**/build
ultra96v1_base
ultra96v1_base.xsa
ultra96v2_base
ultra96v2_base.xsa
ultra96v1
ultra96v2
ultra96v1_mipi
ultra96v2_mipi
petalinux/sdk.sh
petalinux/sdk
petalinux/ultra96
src/a53/xrt/image/image.ub
src/boot/pmufw.elf
src/boot/bl31.elf
src/boot/fsbl.elf
src/boot/u-boot.elf
output
platforms
dpu_prj/binary_container_1
dpu_prj/packaged_*
dpu_prj/tmp_*
dpu_prj/*.o
dpu_prj/*.elf
dpu_prj/*.log
dpu_prj/*.jou
dpu_prj/sample*
data/ILSVRC2012_val/*.JPEG
test/**/*.elf
test/**/*.so
test/*_quantized
test/*_graph.gv
test/*.hwh
**/*.dcf
test/**/*.avi
tool-example/float/
**/__pycache__/
tool-example/vai_q_output/
tool-example/vai_c_output_ultra96v1_base/
tool-example/vai_c_output_ultra96v2_base/
tutorials/ML-at-Edge-yolov3/VOC2007
tutorials/ML-at-Edge-yolov3/images
tutorials/ML-at-Edge-yolov3/quantize_results
tutorials/ML-at-Edge-yolov3/vai_c_output
tutorials/ML-at-Edge-yolov3/model_data/yolov3_voc.pb
tutorials/ML-at-Edge-yolov3/model_data/2007_test.txt
tutorials/ML-at-Edge-yolov3/model_data/2007_test_gt.txt
tutorials/ML-at-Edge-yolov3/model_data/2007_test_pred.txt
tutorials/ML-at-Edge-yolov3/model_data/2007_test_quantize.txt
tutorials/ML-at-Edge-yolov3/target/test_performance_yolov3
tutorials/ML-at-Edge-yolov3/target/test_video_yolov3
tutorials/MNIST-Classification-TensorFlow/target/images
tutorials/**/*.elf
tutorials/CIFAR10-Classification-with-TensorFlow/target/images
tutorials/Keras-Freeze-with-Vitis-AI/method1
tutorials/Keras-Freeze-with-Vitis-AI/method2
tutorials/Keras-Freeze-with-Vitis-AI/method3
tutorials/Keras-Freeze-with-Vitis-AI/quant_images
tutorials/Keras-GoogleNet-ResNet/dataset
tutorials/Keras-GoogleNet-ResNet/cifar10_dataset.npz
tutorials/Keras-GoogleNet-ResNet/fmnist_dataset.npz
tutorials/Keras-GoogleNet-ResNet/keras_model
tutorials/Keras-GoogleNet-ResNet/doc
tutorials/Keras-GoogleNet-ResNet/rpt
tutorials/Keras-GoogleNet-ResNet/tf_chkpts
tutorials/Keras-GoogleNet-ResNet/freeze
tutorials/Keras-GoogleNet-ResNet/quantized_results
tutorials/Keras-GoogleNet-ResNet/compile
tutorials/Keras-GoogleNet-ResNet/target
tutorials/VAI-KERAS-FCN8-SEMSEG/dataset1.zip
tutorials/VAI-KERAS-FCN8-SEMSEG/dataset.npz
tutorials/VAI-KERAS-FCN8-SEMSEG/keras_model
tutorials/VAI-KERAS-FCN8-SEMSEG/log
tutorials/VAI-KERAS-FCN8-SEMSEG/rpt
tutorials/VAI-KERAS-FCN8-SEMSEG/workspace
tutorials/VAI-KERAS-FCN8-SEMSEG/target
tutorials/Medical-AI-Acceleration
