*.sw[op]
vivado.log
vivado.jou
*~
*#
**/.Xil
ultra96v1_mipi
ultra96v1_mipi.xsa
ultra96v2_mipi
ultra96v2_mipi.xsa
petalinux/ultra96
src/boot/*.elf
src/image/boot.scr
src/image/system.dtb
output
platforms
dpu_prj/binary_container_1
dpu_prj/dpu.xclbin
dpu_prj/dpu.xclbin.package_summary
dpu_prj/packaged_kernel_DPUCZDX8G_hw_ultra96
dpu_prj/sample_link.ini
dpu_prj/tmp_kernel_pack_DPUCZDX8G_hw_ultra96
dpu_prj/_x
dpu_prj/*.log
*.hwh
*.dcf
data/ILSVRC2012_val/*.JPEG
**/build
vart/resnet50/quantized
vart/resnet50/vaic_output
vart/resnet50_mt_py/quantized
vart/resnet50_mt_py/vaic_output
vart/adas_detection/quantized
vart/adas_detection/vaic_output

