*.sw[op]
vivado.log
vivado.jou
*~
*#
**/.Xil
**/build
ultra96v1_base
ultra96v1_base.xsa
ultra96v2_base
ultra96v2_base.xsa
petalinux/sdk.sh
petalinux/sdk
petalinux/ultra96
src/a53/xrt/image/image.ub
src/boot/pmufw.elf
src/boot/bl31.elf
src/boot/fsbl.elf
src/boot/u-boot.elf
output
platforms
dpu_prj/binary_container_1
dpu_prj/packaged_*
dpu_prj/tmp_*
dpu_prj/*.o
dpu_prj/*.elf
dpu_prj/*.log
dpu_prj/*.jou
dpu_prj/sample*
data/ILSVRC2012_val/*.JPEG
test/**/*.elf
test/*_quantized
test/*_graph.gv
test/*.hwh
test/*.dcf
